﻿body {
	background: url("../images/fifa2.jpg") center center no-repeat fixed;
	background-size: cover;
	opacity: 0.9;
}

html {
    position: relative; 
    min-height: 100%;
}

/*CABECERA*/
.h1cabecera {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}


#main-header a {
	color: #ffee00;
}


#main-header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	z-index: 100;
}

/*Logo*/
#logo-header {
	float: left;
	padding: 10px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}

#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #ffee00;
}


/*Navegación*/
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #0b76a6;
}
/*FIN DE CABECERA*/



/*ESTRUCTURA WEB*/
#wrap {
	width: 97%;
	margin: 10% auto;
}

#container {
	float: left;
	width: 94%;
	margin: 3%;
}


/*HEADER*/
#header {
	float: left;
	width: 96%;
	margin: 0 2%;
	background-color: black; 
	border-radius: 15px 15px 0 0;
	opacity: 0.9;
}

#header h1 {
	font: normal bold 60px 'Orbitron', Arial, Tahoma, sans-serif;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 2px;
	line-height: 40px;
	color: #ffee00;
}



#animation-header {
	float: left;
	height: 2px;
	animation: animation 5s linear 3s infinite;
	-webkit-animation: animation 5s linear 3s infinite;
	-moz-animation: animation 5s linear 3s infinite;
	-o-animation: animation 5s linear 3s infinite;
}





iframe {
	float: left;
	width: 100%;
}


#highlights {
	float: left;
	width: 92%;
	margin: 0% 0 10% 2%;
	padding: 2%;
	background-color: black;
	overflow: hidden;
}




/*FOOTER*/
#footer {
	float: left;
	width: 98%;
	height: 100px;
	background-color: black;
	border-radius: 0 0 15px 15px;
	bottom: 0;
	position: absolute;
}

#footer p {
	margin: 10px 0;
	font: italic normal 14px 'PT sans', Arial, Tahoma, sans-serif;
	text-align: center;
	color: #ffee00;
}

#redessociales {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

#redessociales img {
	width: 50px;
	height: 50px;
	border-radius: 30px;
}

iframe {
	width: 26%;
}




/*ANIMACIÓN DEL HEADER*/
@keyframes animation {
	0% {width: 0; background-color: #ffc; box-shadow: 1px 1px 1px #f0f0f0;}
	20% {background-color: #3333CC; box-shadow: 1px 1px 1px #f0f0f0;}
	40% {background-color: #3333CC; box-shadow: 1px 1px 1px #f0f0f0;}
	60% {background-color: #3333CC; box-shadow: 1px 1px 1px #f0f0f0;}
	80% {background-color: #ffee00; box-shadow: 1px 1px 1px #f0f0f0;}
	100% {width: 100%; background-color: #ffee00; box-shadow: 1px 1px 1px #f0f0f0;}
}	

@media (max-width: 599px) {
	#header .container {
		width: 100%;
	}


	.container {
		padding: 2px 16px;
	}

	.primervideo {

	}


	h2 {
		display: block;
		font-size: 1.5em;
		-webkit-margin-before: 0.83em;
		-webkit-margin-after: 0.83em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
	}



	#calendario .Pachangas{
		color: #08C;
	}

	#calendario .Cumpleañoss{
		color: #8C0;
	}

	#calendario .Pachanbirrass{
		color: red;
		background-color: #ffee00;
	}

	#info {
		padding: 10px;
		border: 1px solid #555;
		background-color: #ffee00;
		max-width: 300px;
		margin: 20px;
	}

