<?xml version="1.0"?>
<monthly>

<!-- Noviembre 2016-->
	<event>
		<id>1</id>
		<name>PACHANGA: Partido aplazado contra CDK. Pachanga en E. Mas a las 21:00</name>
		<startdate>2016-11-28</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#ABAEB4</color> <!-- Gris -->
		<url></url>
	</event>

	<!-- Fin de Noviembre 2016-->


<!-- Diciembre 2016-->
	<event>
		<id>2</id>
		<name>PACHANGA: Partido aplazado contra Fecron. Pachanga en E. Mas a las 20:00</name>
		<startdate>2016-12-12</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#ABAEB4</color> <!-- Gris -->
		<url></url>
	</event>

	<event>
		<id>3</id>
		<name>REE-CDK GLOBAL Partido de Liga</name>
		<startdate>2016-12-12</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>NORMON 2-1 ALAMO CONSULTING Partido de Liga</name>
		<startdate>2016-12-20</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>5</id>
		<name>ADS CRISA-BAR PICAZO Partido de Liga</name>
		<startdate>2016-12-14</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>6</id>
		<name>CRISA FABRICACION-RSI Partido de Liga</name>
		<startdate>2016-12-15</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>7</id>
		<name>CDK GLOBAL 3-4 PACHANBIRRAS Partido de liga aplazado ¡¡Victoria!!</name>
		<startdate>2016-12-19</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#0850D6</color> <!-- Azul -->
		<url></url>
	</event>

	<event>
		<id>8</id>
		<name>REE 2-3 ADS CRISA Partido de liga aplazado</name>
		<startdate>2016-12-19</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>
<!-- Fin de Diciembre 2016 -->


<!-- Enero 2017 -->
	<event>
		<id>9</id>
		<name>MORALEJA 1-5 PACHANBIRRAS Partido de copa. Eliminatoria directa. ¡¡Victoria!!</name>
		<startdate>2017-1-10</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#08EE04</color> <!-- Verde Manzana -->
		<url></url>
	</event>

	<event>
		<id>10</id>
		<name>ADS CRISA 4-3 NONAME SPORT Partido de copa. Eliminatoria directa. </name>
		<startdate>2017-1-11</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#81F67E</color>
		<url></url>
	</event>

	<event>
		<id>11</id>
		<name>CDK-CRISA FABRICACION Partido de copa. Eliminatoria directa.</name>
		<startdate>2017-1-12</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#81F67E</color>
		<url></url>
	</event>

	<event>
		<id>12</id>
		<name>BAR PICAZO-REE Partido de copa. Eliminatoria directa.</name>
		<startdate>2017-1-12</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#81F67E</color>
		<url></url>
	</event>

	<event>
		<id>13</id>
		<name>FECRON UTD-REE Partido de Liga</name>
		<startdate>2017-1-16</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>14</id>
		<name>CRISA FABRICACION 3-4 PACHANBIRRAS Partido de Liga ¡¡Victoria!!</name>
		<startdate>2017-1-16</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#0850D6</color> <!-- Azul -->
		<url></url>
	</event>

	<event>
		<id>15</id>
		<name>CDK GLOBAL-NORMON Partido de Liga</name>
		<startdate>2017-1-17</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>16</id>
		<name>RSI-BAR PICAZO Partido de Liga</name>
		<startdate>2017-1-18</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>17</id>
		<name>MORALEJA-ADS CRISA Partido de Liga</name>
		<startdate>2017-1-19</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>18</id>
		<name>ALAMO CONSULTING-NONAME SPORT Partido de Liga</name>
		<startdate>2017-1-19</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>19</id>
		<name>NONAME SPORT- CDK GLOBAL Partido de Liga</name>
		<startdate>2017-1-23</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>20</id>
		<name>REE - CRISA FABRICACION Partido de Liga</name>
		<startdate>2017-1-24</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>


	<event>
		<id>21</id>
		<name>NORMON - FECRON Partido de Liga</name>
		<startdate>2017-1-25</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>22</id>
		<name>ADS CRISA - ALAMO CONSULTING Partido de Liga</name>
		<startdate>2017-1-26</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>


	<event>
		<id>23</id>
		<name>BAR PICAZO - MORALEJA Partido de Liga</name>
		<startdate>2017-1-26</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id></id>
		<name>Cumpleaños de Dani ¡¡FELICIDADES!!</name>
		<startdate>2017-1-29</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#F71D57</color>
		<url></url>
	</event>

	<event>
		<id>24</id>
		<name>FECRON - NONAME SPORT Partido de Liga</name>
		<startdate>2017-1-30</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>25</id>
		<name>PACHANBIRRAS-REE Partido de Liga</name>
		<startdate>2017-1-30</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#0850D6</color>
		<url></url>
	</event>

	<event>
		<id>26</id>
		<name>RSI - MORALEJA Partido de Liga</name>
		<startdate>2017-1-31</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>26</id>
		<name>RSI - MORALEJA Partido de Liga</name>
		<startdate>2017-1-31</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>	
	
	<event>
		<id>26</id>
		<name>RSI - MORALEJA Partido de Liga</name>
		<startdate>2017-1-31</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>
	
	<!-- Fin de Enero 2017-->



	<!-- Febrero 2017-->

	<event>
		<id>27</id>
		<name>CRISA FABRICACION - NORMON Partido de Liga</name>
		<startdate>2017-2-1</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>28</id>
		<name>CDK GLOBAL - ADS CRISA Partido de Liga</name>
		<startdate>2017-2-2</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>29</id>
		<name>ALAMO - BAR PICAZO Partido de Liga</name>
		<startdate>2017-2-2</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>30</id>
		<name>REE - RSI Partido de Liga</name>
		<startdate>2017-2-6</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>31</id>
		<name>MORALEJA - ALAMO Partido de Liga</name>
		<startdate>2017-2-6</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>32</id>
		<name>NORMON-PACHANBIRRAS Partido de Liga</name>
		<startdate>2017-2-7</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#0850D6</color> <!-- Azul -->
		<url></url>
	</event>

	<event>
		<id>33</id>
		<name>ADS CRISA - FECRON UTD Partido de Liga</name>
		<startdate>2017-2-8</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>34</id>
		<name>NONAME - CRISA FABRICACION Partido de Liga</name>
		<startdate>2017-2-9</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>35</id>
		<name>BAR PICAZO - CDK GLOBAL Partido de Liga</name>
		<startdate>2017-2-9</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>36</id>
		<name>RSI - ALAMO Partido de Liga</name>
		<startdate>2017-2-13</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>37</id>
		<name>NONAME SPORT-PACHANBIRRAS Partido de Liga</name>
		<startdate>2017-2-13</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#0850D6</color> <!-- Azul -->
		<url></url>
	</event>

	<event>
		<id>38</id>
		<name>BAR PICAZO - FECRON UTD Partido de Liga</name>
		<startdate>2017-2-14</startdate>
		<enddate></enddate>
		<starttime>20:00</starttime>
		<endtime>21:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>39</id>
		<name>NORMON - REE-TRES CANTOS Partido de Liga</name>
		<startdate>2017-2-15</startdate>
		<enddate></enddate>
		<starttime>19:00</starttime>
		<endtime>20:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>

	<event>
		<id>40</id>
		<name>MORALEJA - CDK GLOBAL Partido de Liga</name>
		<startdate>2017-2-16</startdate>
		<enddate></enddate>
		<starttime>21:00</starttime>
		<endtime>22:00</endtime>
		<color>#9A14CB</color>
		<url></url>
	</event>



<!-- Fin de Febrero 2017-->


</monthly>
